.container {
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: #f8f9fa;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    width: 800px;
    max-width: 90%;
    margin: 80px auto;
    padding: 60px 120px;
    box-sizing: border-box;
  }