<app-container>
    <main>
        <section class="form-section">
            <h1>ConstruAí</h1>
            <form [formGroup]="loginForm">
                <div class="input-wrapper">
                    <label for="email">Email</label>
                    <input type="text" id="login" placeholder="Login">
                </div>
                <div class="input-wrapper">
                    <label for="password">Senha</label>
                    <input type="password" id="password" placeholder="********">
                </div>
            </form>
            <button type="button">Entrar</button>
        </section>
    </main>
</app-container>

